{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 */
#}
<div class="container py-md-5">
    <div class="row">
        <div class="col-lg-3 footer_wthree_gridf mt-lg-5">
            <h2><a href="index.html"><span>B</span>aggage
                </a> </h2>
            <label class="sub-des2">Online Store</label>
        </div>
        <div class="col-lg-3 footer_wthree_gridf mt-md-0 mt-4">
            <ul class="footer_wthree_gridf_list">
                <li>
                    <a href="index.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Home</a>
                </li>
                <li>
                    <a href="about.html"><span class="fa fa-angle-right" aria-hidden="true"></span> About</a>
                </li>
                <li>
                    <a href="shop.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Shop</a>
                </li>
                <li>
                    <a href="shop.html"><span class="fa fa-angle-right" aria-hidden="true"></span>Collections</a>
                </li>

            </ul>
        </div>
        <div class="col-lg-3 footer_wthree_gridf mt-md-0 mt-sm-4 mt-3">
            <ul class="footer_wthree_gridf_list">
                <li>
                    <a href="single.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Extra Page</a>
                </li>

                <li>
                    <a href="#"><span class="fa fa-angle-right" aria-hidden="true"></span> Terms & Conditions</a>
                </li>
                <li>
                    <a href="single.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Shop Single</a>
                </li>
                <li>
                    <a href="contact.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Contact Us</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-3 footer_wthree_gridf mt-md-0 mt-sm-4 mt-3">
            <ul class="footer_wthree_gridf_list">
                <li>
                    <a href="login.html"><span class="fa fa-angle-right" aria-hidden="true"></span> Login </a>
                </li>

                <li>
                    <a href="register.html"><span class="fa fa-angle-right" aria-hidden="true"></span>Register</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-angle-right" aria-hidden="true"></span>Privacy & Policy</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="w3ls-fsocial-grid">
        <h3 class="sub-w3ls-headf">Follow Us</h3>
        <div class="social-ficons">
            <ul>
                <li><a href="#"><span class="fa fa-facebook"></span> Facebook</a></li>
                <li><a href="#"><span class="fa fa-twitter"></span> Twitter</a></li>
                <li><a href="#"><span class="fa fa-google"></span>Google</a></li>
            </ul>
        </div>
    </div>
    <div class="move-top text-center mt-lg-4 mt-3">
        <a href="#home"><span class="fa fa-angle-double-up" aria-hidden="true"></span></a>
    </div>
</div>

