
<!-- nav -->
<div class="top-w3pvt d-flex">
    <div id="logo">
        <h1> <a href="index.html"><span class="log-w3pvt">B</span>aggage</a> <label class="sub-des">Online Store</label></h1>
    </div>

  <!--<div class="forms ml-auto">
      <a href="login.html" class="btn"><span class="fa fa-user-circle-o"></span> Se connecter</a>
      <a href="register.html" class="btn"><span class="fa fa-pencil-square-o"></span> S'inscrire</a>
      <a href="#" class="btn"><span class="fa fa-shopping-bag"><div id="bubble"></div></span> Panier</a>
  </div>-->
</div>



