{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - classes: A list of classes to apply to the top level <ul> element.
 * - dropdown_classes: A list of classes to apply to the dropdown <ul> element.
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}





<div class="forms">
    {% for item in items %}

      <a href="{{ item.url }}" class="btn">
      {% if item.title == 'Mon compte' %}
        <span class="fa fa-user-circle-o"></span>
      {% elseif item.title == 'Panier' %}
        <span class="fa fa-shopping-bag"></span>
      {% else %}
        <span class="fa fa-pencil-square-o"></span>
      {% endif %}
        {{ item.title | capitalize  }}</a>
    {% endfor %}
</div>
